*.log
*.pot
*.pyc
__pycache__/
__init__.py
local_settings.py

.env
db.sqlite3

/static/
/media/
/main/log
/main/migrations

env/

node_modules/
package-lock.json

tags
gunicorn/gunicorn.conf.py
gunicorn/gunicorn.env
recom_data.csv
