{% extends 'main/base.htm' %}
{% load widget_tweaks %}
{% block title %}Add Course{% endblock %}
{% block l3h %}Add Course{% endblock %}
{% block content %}
<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="bg-white p-4 rounded shadow-sm">
        {% if success %}
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Course added.</h4>
            <p>The course {{ crs }} has been added.</p>
            <p class="mb-0">It will be reviewed by a moderator before it appears on the main list. However, you can still add content to it <a href="{% url 'course' crs.code %}">here.</a></p>
            <p class="mb-0">Thank you for your contribution!</p>
          </div>
        {% elif exists %}
          <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Course already exists.</h4>
            <p>The course {{ crs }} already exists.</p>
            <p class="mb-0">You can visit the page here <a href="{% url 'course' crs.code %}">here.</a></p>
          </div>
        {% else %}
          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endif %}
          <form id="course-form" method="post" action="{% url 'school' sch.abbr %}add/">
            {% csrf_token %}
            {% for field in form %}
              <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% if field.help_text %}
                  <div class="form-text">{{ field.help_text }}</div>
                {% endif %}
              </div>
            {% endfor %}
            <button class="btn btn-primary w-100" type="submit">Submit</button>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
