{% load widget_tweaks %}

{% if success %}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Iteration added.</h4>
  <p>The the iteration has been added.</p>
  <p class="mb-0">It will be reviewed by a moderator before it appears on the
  main list. However you can still add content to it
  <a href="{% url 'itr' crs.code itr.year itr.sem_name.lower %}">here.</a></p>
  <p class="mb-0">Thank you for your contribution!</p>
</div>
{% elif exists %}
<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">Iteration already exists.</h4>
  <p>{{ itr }} already exists.</p>
  <p class="mb-0">You can visit the page here
  <a href="{% url 'itr' crs.code itr.year itr.sem_name.lower %}">here.</a></p>
</div>
{% else %}

  {% if form.errors %}

    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}

    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}

  {% endif %}

  <form id="itr-form" method="post" action="{% url 'course' crs.code %}add/" onsubmit="return false;">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      <div class="container">
        <div class="row">
          <div class="col">
            <label for="{{ field.id_for_label }}">
              {{ field.label }}
            </label>
          </div>
          <div class="col">
            {% if field.help_text %}<a tabindex="0" role="button" type="button" class="btn btn-primary btn-circle-sm" data-container="body" data-toggle="popover" data-placement="right" data-trigger="focus" data-content="{{ field.help_text }}"><span class="oi oi-info"></span></a> {% endif %}
          </div>
        </div>
      </div>
      {{ field }}
    </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>

{% endif %}
