<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'main/node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/starter-template.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/sticky-footer-navbar.css' %}">
  <link href="{% static 'main/node_modules/open-iconic/font/css/open-iconic-bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  {% block css %} {% endblock %}
  <title>{% block title %} {% endblock %} | NISER Archive</title>
  </head>

  <body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">NISER Archive</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">

      <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->

      <ul class="navbar-nav ml-auto">
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
      {% if user.is_authenticated %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">{{ user.name }}</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="{% url 'user' user.id %}">
            <span class="oi oi-person"></span> Profile
          </a>
          <a class="dropdown-item" href="{% url 'logout' %}?next={{ request.get_full_path|urlencode }}">
            <span class="oi oi-account-logout"></span> Log Out
          </a>
        </div>
        </li>
      {% else %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">Not Logged In</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}"> <span class="oi oi-account-login"></span> Log In</a>
          <a class="dropdown-item" href="{% url 'signup' %}"> <span class="oi oi-person"></span> Sign Up</a>
        </div>
        </li>
      {% endif %}
      </ul>
    </div>
    </nav>
  </header>

  <main class="container container-fluid">
    {% block alerts %} {% endblock %}
    <h3>{% block l3h %} {% endblock %}</h3>
    <h5>{% block l5h %} {% endblock %}</h5>
    {% block content %} {% endblock %}

    <!-- generic modal -->
    <div id="generic-modal">
      <div class="modal fade" id="generic-modal-inner" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

            <div class="modal-header">
              <h5 class="modal-title" id="generic-modal-header"> Modal Header </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body" id="generic-modal-body">
              <div id="generic-modal-msg">
                Modal Message
              </div>
            </div>

            <div class="modal-footer" id="generic-modal-footer">
              Modal Footer
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- end generic modal -->

  </main>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">Coding Club | NISER, Bhubaneswar</span>
      <span class="float-right"><a id="faq-link" href="{% url 'faq' %}">FAQ</a></span>
    </div>
  </footer>

  <script src="{% static 'main/node_modules/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'main/node_modules/popper.js/dist/umd/popper.min.js' %}"></script>
  <script src="{% static 'main/node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'main/node_modules/showdown/dist/showdown.min.js' %}"></script>
  <script src="{% static 'main/js/main.js'%}"></script>
  {% block js %} {% endblock %}
  </body>
</html>
