{% extends 'main/base.htm' %}

{% block title %}{{ crs }}{% endblock %}
{% block l3h %}{{ crs }}{% endblock %}

{% block content %}	
  {% if itr_list %}
    <ul>
    {% for i in itr_list %}
      <li><a href="{% url 'itr' i.course.code i.year i.sem_name %}">{{ i.sem_name.title }}, {{i.year }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    <p>There are no iterations.</p>
  {% endif %}
  {% if user.is_authenticated %}
    <a href="{{ crs.code }}/add"> <span class="oi oi-plus"></span> Add a new iteration </a>
  {% endif %}
{% endblock %}
