{% extends 'main/base.htm' %}
{% block title %}Home{% endblock %}
{% block l3h %}Frequently Asked Questions{% endblock %}

{% block content %}
<div>
  <h5>What is this?</h5>
  NISER Archive is a community-run project to archive all the courses offered at NISER.
  <hr>
  <h5>What kind of content are we archiving?</h5>
  Everything: quizzes, handouts, notes, slides, mid/end-term exams, etc.
  <hr>
  <h5>Who uploads the content?</h5>
  You! Note that this is a community-run project, all the material relevant to a course is uploaded to the website by users (such as yourself).
  <hr>
  <h5>How to contribute?</h5>
  You can help the project in 3 ways:
  <ul>
    <li><strong>By uploading content:</strong> The primary way to contribute to the project is to upload anything you have relevant to the courses that you have taken at NISER. At the very least, for the courses that you are currently enrollled int, you can upload the quizzes and other exams on the day they are held. And if you are feeling generous, you can dig through your heap of papers that you've piled up during your time at NISER, and upload them too. Note that we don't expect the materials to be complete just anything which gives a hint of what was done during the course, is just good enough.</li>
    <li><strong>By becomming a moderator: </strong> Ever envied those people on reddit who have the power to delete posts at their will? Or those people on stackexchange with hats, who can close a question just because they deemed it to be off-topic? Well, you can gain similar powers, by becomming a moderator on Archive and keep the discussions civil.</li>
    <li><strong>By contributing code: </strong> If you are familiar with any of these things: bash, apache, python, postgresql, html, css, javascript; then you may help the project by contributing code to the <a href="https://github.com/sdgniser/arc/">github repo</a>.</li>
  </ul>
  <hr>
  <h5>How to contact the team?</h5>
  We can be reached at sdg@niser.ac.in or code@niser.ac.in. Please feel free to tell drop in any suggestions, issues, improvements or queries.
  <hr>
</div>
{% endblock %}
