{% extends 'main/base.htm' %}

{% block title %}{{ itr.short_name }}{% endblock %}
{% block l3h %}{{ itr }}{% endblock %}

{% block content %}	
  {% if item_list %}
    <ul>
    {% for i in item_list %}
    <li><a href="{{ dmn }}/uploads/{{ i.fl.name }}">{{ i.fl.name }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    <p>Nothing.</p>
  {% endif %}	
  {% if user.is_authenticated %}
    <a href="{{ itr.seas }}/add"> <span class="oi oi-plus"></span> Add content </a>
  {% endif %}
{% endblock %}
