{% extends 'main/base.htm' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ itr.short_name }}{% endblock %}
{% block l3h %}{{ itr }}{% endblock %}
{% block l5h %}{{ itr.inst }}{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'main/css/itr.css' %}">{% endblock %}

{% block content %}	
  {% if item_list %}
    <ul class="list-group">
    {% for i in item_list %}
    <li class="list-group-item">
      <a href="{{ i.fl.url }}">{{ i.name }}</a>
      {% if user.is_authenticated %}
        <button id="f_{{ i.id }}" type="button" class="btn btn-secondary btn-sm btn-item-report float-right" data-toggle="modal" data-target="#item-report-modal-inner"><span class="oi oi-warning"></span></button>
      {% endif %}
    </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>Nothing.</p>
  {% endif %}	

  {% if user.is_authenticated %}
    <br>
    <button type="button" id="item-modal-btn" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#item-modal-inner">
      <span class="oi oi-plus"> </span>  Add
    </button>
    <br>

    
  {% endif %}
  <br>
  Discussions
  <br>

  {% if comm_list %}
    {% for c in comm_list %}
      <div id="comm-{{ c.id }}" class="comm alert alert-secondary" role="alert">

        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <a href="{% url 'user' c.user.id %}">{{ c.user.name }}</a>
            </div>
            <div class="col-md">
              <span class="oi oi-clock"></span> {{ c.posted  }}
            </div>
            <div class="col-1">
              {% if user.is_authenticated %} 
                {% if user == c.user %}
                  <div class="del-container">
                    <button id="d_{{ c.id }}" type="button" class="btn btn-secondary btn-sm btn-delete" data-toggle="modal" data-target="#delete-modal-inner">
                      <span  class="oi oi-trash"></span>
                    </button>
                  </div>
                {% else %}
                  <div class="del-container">
                    <button id="r_{{ c.id }}" type="button" class="btn btn-secondary btn-sm btn-report" data-toggle="modal" data-target="#report-modal-inner">
                      <span class="oi oi-warning"></span>
                    </button>
                  </div>
                {% endif %}
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div>{{ c.text|safe }}</div>
            </div>
          </div>
        </div>
        <!--<hr class="comment-hr">-->
      </div>
    {% endfor %}
  {% else %}
  <div class="comm alert alert-secondary" role="alert">
    No comments yet
  </div>
  {% endif %}

  {% if user.is_authenticated %}
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}

      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}

    <form id="comment-form" method="post" action="{% url 'comment' itr.course.code itr.year itr.sem_name.lower %}">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">Add a new comment: </label>
          {{field|add_class:'form-control'}}
        </div>
      {% endfor %}
      <div id="preview" class="alert alert-secondary" role="alert"></div>
      <div class="container">
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-primary">Post</button>
          </div>
          <div class="col">
            <span class="float-right" id="comment-help">
              <a href="#" data-toggle="modal" data-target="#md-modal-inner">Formatting Help</a>
            </span>
          </div>
        </div>
      </div>
    </form>

  {% endif %}

  {%if user.is_authenticated %}

  <!-- add-item modal -->
  <div id="item-modal">
    <div class="modal fade" id="item-modal-inner" role="dialog" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="item-modal-header"> <span class="oi oi-plus"> </span> Add new content to {{ itr.short_name }} </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>

          <div class="modal-body" id="item-modal-body">
            <div class="modal-body-inner" id="item-modal-body-inner">
              <div class="container">
                <div class="text-center">
                  <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div id="item-progress" class="progress">
              <div id="item-progress-bar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="modal-footer" id="item-modal-footer">
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end add-item modal -->

  <!-- report modal -->
  <div id="report-modal">
    <div class="modal fade" id="report-modal-inner" role="dialog" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="report-modal-header"> <span class="oi oi-warning"></span> Report </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>

          <div class="modal-body" id="report-modal-body">
            <div id="report-modal-body-inner" class="container">

              <form id="comment-report-form" method="post" action="">
              {% csrf_token %}
              {% for field in report_form %}
                <div class="form-group">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {{field|add_class:'form-control'}}
                </div>
              {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>

            </div>
          </div>

          <div class="modal-footer" id="report-modal-footer">
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end report modal -->
  <!-- item-report modal -->
  <div id="item-report-modal">
    <div class="modal fade" id="item-report-modal-inner" role="dialog" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="item-report-modal-header"> <span class="oi oi-warning"></span> Report </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>

          <div class="modal-body" id="item-report-modal-body">
            <div id="item-report-modal-body-inner" class="container">

              <form id="item-report-form" method="post" action="">
              {% csrf_token %}
              {% for field in item_report_form %}
                <div class="form-group">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {{field|add_class:'form-control'}}
                </div>
              {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>

            </div>
          </div>

          <div class="modal-footer" id="item-report-modal-footer">
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end item report modal -->
  <!-- delete modal -->
  <div id="delete-modal">
    <div class="modal fade" id="delete-modal-inner" role="dialog" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="delete-modal-header"> <span class="oi oi-trash"></span> Delete comment </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>

          <div class="modal-body" id="delete-modal-body">
            <div id="delete-modal-msg" class="alert alert-danger">
              Are you sure you want to delete this comment?
            </div>
          </div>

          <div class="modal-footer" id="delete-modal-footer">
            <button id="del-yes" class="btn btn-danger"> Yes </button>
            <button id="del-no" class="btn btn-primary"> No </button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end delete modal -->
  <!-- delete modal -->
  <div id="md-modal">
    <div class="modal fade" id="md-modal-inner" role="dialog" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title"> <span class="oi oi-info"></span> Formatting Help </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>

          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">
                    Type this
                  </th>
                  <th scope="col">
                    To get this
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="col">
                    _italics_
                  </td>
                  <td scope="col">
                    <em>italics</em>
                  </td>
                </tr>
                <tr>
                  <td scope="col">
                    __bold__
                  </td>
                  <td scope="col">
                    <strong>bold</strong>
                  </td>
                </tr>
                <tr>
                  <td scope="col">
                    [niser.ac.in](http://www.niser.ac.in)
                  </td>
                  <td scope="col">
                    <a href="http://www.niser.ac.in">niser.ac.in</a>
                  </td>
                </tr>
                <tr>
                  <td scope="col">
                    * item 1 <br>
                    * item 2
                  </td>
                  <td scope="col">
                    <ul>
                      <li>item 1</li>
                      <li>item 2</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td scope="col">
                    &gt; quote
                  </td>
                  <td scope="col">
                    <blockquote>quote</blockquote>
                  </td>
                </tr>
                <tr>
                  <td scope="col">
                    ~~strikethrough~~
                  </td>
                  <td scope="col">
                    <del>strikethrough</del>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="modal-footer">
            <button class="btn btn-primary"> Got it. </button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end delete modal -->
  {% endif %}
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'main/js/itr.js' %}"></script>
{% endblock %}
