{% extends 'main/base.htm' %}
{% load widget_tweaks %}

{% block title %}Password Reset{% endblock %}
{% block l3h %}Forgot your password?{% endblock %}

{% block content %}
  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}

    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{field|add_class:'form-control'}}
      </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Reset my password</button>
  </form>
{% endblock %}
