<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
      
      /* CSS for content boxes */
      .card {
        border-radius: 10px;
        padding: 10px;
      }

      .c3 {
        background-color:rgb(230, 230, 230);
      }

      .topic {
        margin-top: -10px;
        padding-left: 10px;
      }

      .text {
        overflow: auto;
        text-align: justify;
        text-justify: inter-word;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        padding: 7px 15px;
      }

      /* CSS for gallery section */
      div.gallery {
        background-color:rgb(236, 217, 228);
        margin: 5px;
        border: 2px solid #ccc;
        float: left;
        width: 200px;
        text-align: center
      }

      div.gallery:hover {
        border: 2px solid #777;
      }

      #hfix {
        overflow-x: scroll;
        overflow-y:hidden;

      }

</style>



<div style="width: 100%;margin-bottom: 15px;">
  <div class="card c3">
    <div class="topic">
      <h3>Recommended for you</h3>
      <p style="text-align: right;margin-top: -20px; font-weight:bold;">{{ count.rec }}/{{ count.own }}</p>
    </div>
    
    <div class="text", id="hfix">
      <table align="center">
        <tr>

          {% if auth == 1 %}
            {% for item in recom %}
              <td>
                <a href="/arc/g/{{ item.fl }}/">
                  <div class="gallery">
                    <h4>{{ item.name }}</h4>
                    <h3>{{ item.itr }}</h3>
                    <p>{{ item.itr.inst }}</p>
                  </div>
                </a>
              </td>
            {% endfor %}
          {% else %}
            <h4>You are not logged in yet please login to get recommendations.</h4>
            {% block content %}

                {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                    {% endfor %}

                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                {% endif %}

                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{field|add_class:'form-control'}}
                    </div>
                    {% endfor %}
                    <button class="btn btn-primary" type="submit">Login</button>
                </form>
                <br>
                <p>
                Forgot your password? <a href="{% url 'password_reset' %}"> Click here. </a>
                </p>
                {% endblock %}

          {% endif %}

        </tr>
      </table>
    </div>
  </div>
</div>

