{% extends 'main/base.htm' %}
{% load widget_tweaks %}

{% block title %}Sign Up{% endblock %}
{% block l3h %}Sign Up{% endblock %}

{% block content %}

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}

    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}

<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{field|add_class:'form-control'}}
    </div>
  {% endfor %}
  <button class="btn btn-primary" type="submit">Sign Up</button>
</form>
{% endblock %}
