{% extends 'main/base.htm' %}
{% block title %}Statistics{% endblock %}
{% block l3h %}Statistics{% endblock %}

{% block content %}
<div>
  <br>
  <section>
    <h5>Top Contributors</h5>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User </th>
            <th scope="col">Uploads</th>
          </tr>
        </thead>
        <tbody>
      {% for user in top_uploaders %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ user.name }}</td>
          <td>{{ user.upload_count }}</td>
        </tr>
      {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</div>
{% endblock %}
