{% extends 'main/base.htm' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ user_page.name }}{% endblock %}
{% block l3h %}{{ user_page.name }}{% endblock %}
{% block l5h %}{{ user_page.email }}{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'main/css/user.css' %}">{% endblock %}

{% block content %}
  <div id="user-info">
    About {{ user_page.name }}
    {% if user.is_authenticated %}
    {% if user_page == user %}
    <button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#profile-modal-inner"><span class="oi oi-pencil"> </span></button>
    {% else %}
    <button id="u_{{ user_page.id }}" class="btn btn-secondary btn-sm btn-report" data-toggle="modal" data-target="#report-modal-inner"><span class="oi oi-warning"> </span></button>
    {% endif %}
    {% endif %}
    <br>
    {% if user_page.profile.upd %}
      {{ user_page.profile.school }} <br>
      {{ user_page.profile.prog }} <br>
      {{ user_page.profile.batch }} <br>
      <div class="markdown">{{ user_page.profile.about }}</div>
    {% endif %}
  </div>
  {% if user_contrib %}
  <div id="user-contrib">
    About {{ user_page.name }}'s contributions: <br>
    <ul class="list-group">
    {% for f in user_contrib %}
      <li class="list-group-item"><a href="{{ f.fl.url }}">{{ f.name }}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if user.is_authenticated %}
  {% if user_page == user %}
  <!-- profile modal -->
  <div id="profile-modal">
    <div class="modal fade" id="profile-modal-inner" role="dialog" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="profile-modal-header"> <span class="oi oi-pencil"></span> Edit </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>

          <div class="modal-body" id="profile-modal-body">
            <div id="profile-modal-body-inner" class="container">

              <form id="profile-form" method="post" action="">
              {% csrf_token %}
              {% for field in form %}
                <div class="form-group">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {{ field }}
                </div>
              {% endfor %}
                <button type="submit" class="btn btn-primary"> Update </button>
              </form>

            </div>
          </div>

          <div class="modal-footer" id="profile-modal-footer">
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end profile modal -->

  {% else %}

  <!-- report modal -->
  <div id="report-modal">
    <div class="modal fade" id="report-modal-inner" role="dialog" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="report-modal-header"> <span class="oi oi-warning"></span> Report {{ user_page.name }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>

          <div class="modal-body" id="report-modal-body">
            <div id="report-modal-body-inner" class="container">

              <form id="user-report-form" method="post" action="">
              {% csrf_token %}
              {% for field in report_form %}
                <div class="form-group">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {{field|add_class:'form-control'}}
                </div>
              {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>

            </div>
          </div>

          <div class="modal-footer" id="report-modal-footer">
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end report modal -->
  {% endif %}
  {% endif %}
{% endblock %}

{% block js %}<script src="{% static 'main/js/user.js' %}"></script>{% endblock %}
