main {
  margin-bottom: 10px;
}

/*blockquote styling, pasta from codepen*/
blockquote{
  font-size: 1.1em;
  width:90%;
  margin:16px auto;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #c0c0c0 ;
  line-height:1.6;
  position: relative;
  background:#FEFEFE;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#c0c0c0;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

/*blockquote span.author{
*  display:block;
*  color:#333333;
*  font-style: normal;
*  font-weight: bold;
*  margin-top:1em;
}*/
/*pasta-end*/

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn-circle-sm {
  width: 18px;
  height: 18px;
  padding: 2px 0px;
  border-radius: 9px;
  text-align: center;
  font-size: 9px;
  line-height: 1.42857;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}



      
/* CSS for Recommendation Section */
.card {
  border-radius: 10px;
  padding: 10px;
  background-color:rgb(230, 230, 230);
}

.topic {
  margin-top: -10px;
  padding-left: 10px;
}

.text {
  overflow: auto;
  text-align: justify;
  text-justify: inter-word;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 3px 7px;
  overflow-x: scroll;
  overflow-y:hidden;
}

.btn {
  text-align: center;
  border-radius: 5px;
  background-color: rgb(0, 136, 199);
  padding: 5px 7px;
}

.btn:hover {
  background-color: rgb(66, 195, 255);
}

div.gallery {
  background-color:rgb(236, 217, 228);
  margin: 2px;
  padding: 0px 15px;
  border: 2px solid #ccc;
  float: left;
  text-align: center;
  border-radius: 5px;
  width: max-content;
}

div.gallery:hover {
  border: 2px solid #777;
}