footer {
  margin-top: 30px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn-circle-sm {
  width: 18px;
  height: 18px;
  padding: 2px 0px;
  border-radius: 9px;
  text-align: center;
  font-size: 9px;
  line-height: 1.42857;
}
